{% load verbatim %}
<!doctype html>
<html lang="en">
  <head>
    <title>Django + Backbone.js</title>

    <link rel="stylesheet" 
          href="http://yui.yahooapis.com/3.2.0/build/cssreset/reset-min.css">
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/style.css">

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.js"></script>
    <script src="http://cachedcommons.org/cache/underscore/1.1.0/javascripts/underscore-min.js"></script>
    <script src="{{ MEDIA_URL }}js/ICanHaz.min.js"></script>
    <script src="{{ MEDIA_URL }}js/backbone-min.js"></script>
    <script>
      TWEET_API = "{% url api_dispatch_list resource_name="tweet" %}";
    </script>
    <script src="{{ MEDIA_URL }}js/app.js"></script>

    {% verbatim %}
    <script type="text/html" id="tweetTemplate">
      <a class="username">{{ username }}</a>
      <p class="message">
        {{ message }}
      </p>
      <abbr class="timestamp">{{ timestamp }}</abbr>
    </script>
    {% endverbatim %}
  </head>

  <body>
    <div id="app">
      <div id="input">
        <strong>What's going on?</strong>
        <textarea id="message"></textarea>
        <button class="tweet">Tweet</button>
      </div>
      <ul id="tweets">
      </ul>
    </div>
  </body>
</html>
