<!doctype html>
<html lang="en">
  <head>
    <title>Django + Backbone.js</title>

    <link rel="stylesheet" 
          href="http://yui.yahooapis.com/3.2.0/build/cssreset/reset-min.css">
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/style.css">

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.js"></script>
    <script src="http://cachedcommons.org/cache/underscore/1.1.0/javascripts/underscore-min.js"></script>
    <script src="http://cachedcommons.org/cache/mustache/0.3.0/javascripts/mustache-min.js"></script>
    <script src="{{ MEDIA_URL }}js/ICanHaz.min.js"></script>
    <script src="{{ MEDIA_URL }}js/backbone-min.js"></script>
  </head>

  <body>
    <div id="app">
    </div>
  </body>
</html>
